@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Share/TrangChuLayout.cshtml";
}
<div class="container">
    <div class="form-group text-center">
        <img src="~/Content/icon/shopping-cart .png" width="80" style="margin-top:30px;" />
        <h1 style="margin-top:20px;">THÀNH CÔNG!!!</h1>
        <p style="text-align: center; font-size: 16pt;">Đơn hàng của quý khách đã được hệ thống ghi nhận. Chúng tôi sẽ giao hàng đúng hẹn.</p>
        <a style="background-color:#e51c71;margin-top:30px;font-weight:bold;font-size:16pt;border-radius:40px 40px; " href="@Url.Action("SanPham", "Home")" class="btn text-uppercase text-white w-25 h-35 ">VỀ TRANG CHỦ</a>
    </div>
</div>

